
<div class="container">
  <div id="map"></div>
  <ul class="trend-list"></ul>
  <div style="width: 800px; height: 800px">
    <canvas id="chart" width="400" height="400"></canvas>
  </div>

  <div class="row news-container">
  </div>

</div>

<script id="news-result-template" type="template">
<div class="col-sm-6 col-lg-4" style="height: 350px">
  <div class="thumbnail">
    <img src={{ image_url }} style="height: 200px">
    <div class="caption">
      <a href={{ url }}>{{ title }}</a>
    </div>
  </div>
</div>
</script>
<script>

// This example creates a simple polygon representing the Bermuda Triangle.
var states = []
states.push({
  name: "New South Wales",
  capital: "Sydney",
  color: "red",
  woeid: 1105779
})

states.push({
  name: "Victoria",
  capital: "Melbourne",
  color: "blue",
  woeid: 1103816
})

states.push({
  name: "Queensland",
  capital: "Brisbane",
  color: "green",
  woeid: 1100661
})

states.push({
  name: "South Australia",
  capital: "Adelaide",
  color: "yellow",
  woeid: 1099805
})

states.push({
  name: "Western Australia",
  capital: "Perth",
  color: "orange",
  woeid: 1098081
})

states.push({
  name: "Tasmaina",
  capital: "Hobart",
  color: "purple",
  woeid: 1102670
})

states.push({
  name: "Northern Territory",
  capital: "Darwin",
  color: "lime",
  woeid: 1101597
})

states.push({
  name: "Australian Capital Territory",
  capital: "Canberra",
  color: "black",
  woeid: 1100968
})




var randomColorGenerator = function () {
  return 'rgba(' +
  (Math.round(Math.random() * 255)) + ", " +
  (Math.round(Math.random() * 255)) + ", " +
  (Math.round(Math.random() * 255)) + ", 0.2)"
};
var canvas = document.getElementById("chart")
var ctx = canvas.getContext('2d');
var chart

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: {lat: -25.2744, lng: 133.7751},
    mapTypeId: 'terrain'
  });

  map.data.loadGeoJson('https://raw.githubusercontent.com/rowanhogan/australian-states/master/states.geojson');
  // map.data.setStyle({
  //   fillColor: 'green',
  //   strokeWeight: 1
  //
  // });

  map.data.setStyle(function(feature) {

    var state = states[parseInt(feature.f.STATE_CODE)-1]
    return {
      fillColor: state.color,
      strokeWeight: 1
    }
  })


  map.data.addListener('click', function(event) {
    var state = states[parseInt(event.feature.f.STATE_CODE)-1]

    $.ajax({
      url: '/api/trends/' + state.woeid
    }).done(function(res){
      if (chart) {
        chart.destroy()
      }

      $(".trend-list").html("")
      var backgroundColor = []
      var values = []
      var keys = []
      var cleanNames = []
      res.forEach(function(element) {
        // $(".trend-list").append($("<li>" + '<a href="/pages/'+ element["name"] + '">' + element["name"] + "</a>" + "<p>" + element["volume"] + "</p>" + "</li>"))

        values.push(element["volume"])
        keys.push(element["name"])
        cleanNames.push(element["name_clean"])
        //console.log(values);
        //console.log(keys);
        backgroundColor.push(randomColorGenerator())

      })
      var data = {
        datasets: [{
          data: values,
          backgroundColor: backgroundColor
        }],
        labels: keys
      };

      chart = new Chart(ctx, {
        data: data,
        type: 'doughnut'
      });

      $("#chart").click(function(evt){
        var activePoints = chart.getElementAtEvent(evt);
        var name = cleanNames[activePoints["0"]._index];
        var $newsContainer = $(".news-container")

        $.ajax({ url: "/api/news/" + name }).done(function(res) {
          $newsContainer.html("")
          if (res.length <= 0) {
            $newsContainer.append($("<h1>No Result Found</h1>"))
          }
          res.forEach(function(element) {
            var source = $('#news-result-template').html()
            var template = Handlebars.compile(source)
            $newsContainer.append(template(element))
          })
        $("img")
      .on('load', function() { console.log("image loaded correctly"); })
      .on('error', function(event) { console.log($(event.target).attr("src","https://extension.ucsd.edu/UCSDExtension/media/UCSDExtensionsMedia/placeholder.png")); });

        })

      })

    })

  });
}



</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKgnMYlOhK2bPvXLb1K4DwTDfNpCs8s2c&callback=initMap">
</script>
