

<div class="container">
<div class="row news-container">

</div>
</div>

<script id="news-result-template" type="template">
<div class="col-sm-6 col-lg-4" style="height: 350px">
  <div class="thumbnail">
    <img src={{ image_url }} style="height: 200px">
    <div class="caption">
      <a href={{ url }}>{{ title }}</a>
    </div>
  </div>
</div>
</script>

<script>
var name = "<%= @name %>"
var $newsContainer = $(".news-container")





$.ajax({
  url: "/api/news/" + name
}).done(function(res) {
  if (res.length <= 0) {
    $newsContainer.append($("<h1>No Result Found</h1>"))
  }


  res.forEach(function(element) {
    // if (element["image_url"] == null) {
    //   element["image_url"] = "https://extension.ucsd.edu/UCSDExtension/media/UCSDExtensionsMedia/placeholder.png"
    // }
    // testImage(element["image_url"]);

    var source = $('#news-result-template').html()
    var template = Handlebars.compile(source)
    $newsContainer.append(template(element))


  })
  $("img")
      .on('load', function() { console.log("image loaded correctly"); })
      .on('error', function(event) { console.log($(event.target).attr("src","https://extension.ucsd.edu/UCSDExtension/media/UCSDExtensionsMedia/placeholder.png")); })
  ;

})







</script>
