<h1><%= @name %></h1>

<div></div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
var name = "<%= @name %>"

$.ajax({
  url: "/api/news/" + name
}).done(function(res) {
  console.log(res)
  $("div").html("")
  res.forEach(function(element) {
    var para = $("<h3>").text(element["title"]);
    $("div").append(para)
    var image = $("<img>").attr('src', )
    var url = $("<p>").text(element[])
  })
})
//   url: "http://webhose.io/filterWebContent?token=dbe50032-f200-456e-8767-e35a3267fc54&format=json&ts=1500696728138&sort=crawled&q=%22" + name + "%22%20site_type%3Anews%20thread.country%3AAU"
// }).done(function(res){
//   console.log(res)
//   $("ul").html("")
//   for(var i = 0; i < res.posts.length; i++){
//   console.log(res.posts[i].title)
//     $("ul").append($("<li>" + res.posts[i].title + "</li>"))
// }
// })

// })

</script>
